* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive, sans-serif;
}
body {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 20px 0;
  -webkit-box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
  -moz-box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
  box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  position: relative;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.cell {
  background-color: #000;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  margin-right: -1px;
  margin-bottom: -1px;
  color: #fff;
  font-size: 3rem;
}
.cell:hover {
  border: 5px solid #fff;
  -webkit-box-shadow: -2px -1px 10px 8px rgba(255, 255, 0, 1);
  -moz-box-shadow: -2px -1px 10px 8px rgba(255, 255, 0, 1);
  box-shadow: -2px -1px 10px 8px rgba(255, 255, 0, 1);
}

button.buttons {
  background-color: #000;
  border: none;
}

.rightSide {
  position: absolute;
  top: 0;
  right: 0;
}
div.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  height: 60%;
  margin: 120px 200px 0 0;
}
.btn-container button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 2rem;
}

.resetBtn {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
.resetBtn:hover {
  border: 1px solid #fff;
  -webkit-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  -moz-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
}
.oBtn:hover {
  border: 1px solid #fff;
  -webkit-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  -moz-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
}
.xBtn:hover {
  border: 1px solid #fff;
  -webkit-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  -moz-box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
  box-shadow: -1px 0px 11px 3px rgba(255, 255, 0, 1);
}
.rightSide {
  justify-content: flex-end;
}

.hidden {
  display: none;
}
.result p {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  animation: jump 0.3s ease-in-out;
  animation-iteration-count: 1;
}
.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.win-message-container,
.tie-message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  text-align: center;
}

.win-message-container.show,
.tie-message-container.show {
  display: block;
  animation: jump 0.5s;
}
@keyframes jump {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -60%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
  -moz-box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
  box-shadow: -2px -1px 40px 3px rgba(255, 255, 0, 1);
}
